<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <div><img src="/img/Meet.jpeg" width="378" height="400" style="float: left;"></div><br>
    <p style="padding-left: 35%; padding-top: 3%;">Hello, I'm Meet Shah, born in India and raised in India. My true passion lies in basketball. Currently, I am pursuing a program in Software Engineering Technician at Centennial College with a vision to become a proficient backend developer in the future. My goal is not only to excel in backend development but also to contribute to the ever-evolving field of technology, all while keeping my love for basketball alive."




      <br>
      <a href="/content/aboutme.pdf" target="_blank">About Me Page</a>
    </p><br>

    </div>

    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   