<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p style="padding-top: 3%; padding-left: 10%; padding-right: 10%; background-color: #f2f2f2; border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);">Welcome to our basketball hub, your ultimate destination for all basketball-related updates. We provide real-time game updates, comprehensive league standings, and a player tracker to follow your favorite players' statistics and market value. Additionally, we offer insightful articles and analysis pieces about ongoing tournaments and leagues. Whether you're a casual fan or a basketball fanatic, our website is designed to enhance your basketball-following experience. Our mission is to connect basketball fans globally by providing real-time updates, comprehensive stats, and insightful analysis. We aim to enhance the basketball-following experience for all fans and promote the love of the game through our reliable and engaging platform.
    </p>
    </div>

    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   