<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <h1>Projects</h1>

    <!-- Project 1 -->
    <div class="project">
        <img src="/img/image.jpeg" alt="Project 1 Image" width="20%" height="20%">
        <h2>Project 1: E-Commerce Website Revamp</h2>
        <p>As the lead backend developer, I assume a pivotal role in overseeing the backend development of our projects. I am responsible for designing, building, and maintaining the server-side architecture that powers our web and mobile applications. My contributions are instrumental in ensuring that our applications operate seamlessly, efficiently, and securely.</p>
    </div>

    <!-- Project 2 -->
    <div class="project">
        <img src="/img/image2.png" alt="Project 2 Image" width="20%" height="20%">
        <h2>Project 2: Sports Analytics Dashboard</h2>
        <p>In collaboration with a leading sports data company, we embarked on a dynamic project to create an advanced sports analytics dashboard. This dashboard serves as a powerhouse of insights, enabling coaches, analysts, and fans to delve deeper into the intricacies of sports performance.</p>
        <img src="/img/image3.jpeg" alt="Project 3 Image" width="20%" height="20%">
        <h2>Project 3: Mobile App Backend Integration</h2>
        
        <p>As the lead backend developer, I assumed a pivotal role in the challenging project of integrating the backend infrastructure for our mobile application. This project was a critical step in ensuring the seamless operation of our app and delivering an exceptional user experience.</p>
      </div>

    <!-- Project 3 -->
    <div class="project">
        
        <br>
        <br>
        <br>
    </div>
    </main>
    <!--bottom nav-->
    <%- include ('partials/bottom_nav.ejs') %>
    <%- include ('partials/footer.ejs') %>
 
   
      <!--script section-->
      