<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <h1>Our Services</h1>

    <!-- Service 1 -->
    <div class="service">
        <img src="/img/image4.jpg" alt="Service 1" width="20%" height="20%">
        <h2>Web Development</h2>
        <p>We offer professional web development services tailored to meet the unique needs of your business or project. Our team of experienced developers is proficient in a wide range of technologies and frameworks, ensuring that we can create a website that not only looks great but also performs seamlessly.</p>
    </div>

    <!-- Service 2 -->
    <div class="service">
        <img src="/img/image5.jpg" alt="Service 2" width="20%" height="20%">
        <h2>Mobile App Development</h2>
        <p>Our mobile app development team is dedicated to turning your app ideas into reality. We understand the growing importance of mobile applications in today's digital landscape and are committed to providing top-notch solutions. Here's what sets us apart in the world of mobile app development</p>
    </div>
    </main>
    <br>
    <br>
    <br>
    
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   